@page
@model KMwareWeb01.Pages.DashboardModel
@{
	ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div class="text-cetner">
	<form method="post">
		<button type="submit" asp-page-handler="RedirectToIndex">Redirect to Index</button>
	</form>
</div>