@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
    <form method="post">
        <button type="submit" asp-page-handler="RedirectToDashboard">Redirect to Dashboard</button>
    </form>

</div>
